@model List<PREFINAL_ASSIGNMENT_TWO_POKEMON.Models.Pokemon>

@{
    ViewData["Title"] = "Pokemon List";
}

<h1>Pokemon List</h1>
<ul>
    @foreach (var pokemon in Model)
    {
        <li><a asp-controller="Pokemon" asp-action="Details" asp-route-name="@pokemon.Name">@pokemon.Name</a></li>
    }
</ul>
